@use '../settings/breakpoints.scss' as b;
.footer {
  background: var(--background-color);
  margin: 0 10%;
  &-content {
    padding: 24px 20px;
    justify-content: space-between;
    align-items: flex-start;
    @include b.tablet-up {
     flex-direction: row;
      justify-content: space-between;
    }
    @include b.mobile-up{
      gap: 2em;
    }
    @include b.mobile{
      gap: 2em;
    }
  }

  &-section {
    gap: 1em;
    color: #000000;

    &-title {
      font-family: "League Spartan", sans-serif;
      cursor: text;
    }

    &-list {
      gap: 1em;
    }

    &-content {
      gap: 1em;
      font-family: "League Spartan", sans-serif;

      &-link {
        color: #000;
        transition: all ease-in-out 0.5s;
        font-family: "League Spartan", sans-serif;
        text-decoration: none;
        &:hover{
          color: var(--success);
        }
      }
    }
  }

  &-social {
    gap: 0.5em;
    @include b.tablet-up {
      flex-direction: column;
    }
    &-link {
    }

    &-icon {
      width: 30px;
      height: auto;
    }
  }
}


.icon {
  position: relative;
  width: 30px;
  height: 30px;
}

.icon svg {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.footer-social-link:hover .github path {
  fill: #8C31AB;
  transition: opacity 0.3s ease;

}


.footer-social-icon-hover.instagram,
.footer-social-icon-hover.discord,
.footer-social-icon-hover.linkedin {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.footer-social-icon.linkedin:hover {
  opacity: 0;
}

.footer-social-icon.instagram:hover {
  opacity: 0;
}

.footer-social-icon.discord:hover {
  opacity: 0;
}