.footer {
  background: linear-gradient(180deg, #FFF 10%, #F1662A 100%);
  width: 100vw;

  &-content {
    padding: 12% 0 2% 0;
    position: relative;
    border-radius: 20px 0px;
    margin: 0 10% 0 10%;
  }

  &-section {
    gap: 1em;
    color: #FFFFFF;

    &-title {
      font-family: "League Spartan", sans-serif;
      cursor: text;
    }

    &-list {
      gap: 0.4em;
    }

    &-content {
      gap: 1em;
      font-family: "Titillium Web Regular", sans-serif;

      &-link {
        color: #FFFFFF;
        transition: all ease-in-out 0.5s;
        &:hover{
          color: #000;
        }
      }
    }
  }

  &-social {
    gap: 0.5em;

    &-link {
    }

    &-icon {
      width: 30px;
      height: auto;
    }
  }
}


.icon {
  position: relative;
  width: 30px;
  height: 30px;
}

.icon svg {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.footer-social-link:hover .github path {
  fill: #8C31AB;
  transition: opacity 0.3s ease;

}


.footer-social-icon-hover.instagram,
.footer-social-icon-hover.discord,
.footer-social-icon-hover.linkedin {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.footer-social-icon.linkedin:hover {
  opacity: 0;
}

.footer-social-icon.instagram:hover {
  opacity: 0;
}

.footer-social-icon.discord:hover {
  opacity: 0;
}