@use '../settings/breakpoints.scss' as b;
.link{
  text-decoration: none;
  font-family: "Titillium Web Regular", sans-serif;
}

.content{
  margin-top: 5%;
}
body{
  background: var(--background-color);
}
