@use '../settings/breakpoints.scss' as b;
.header {
  position: fixed;
  top: 0;
  left: 0;
  @include b.desktop-up {
    max-width: 200px;
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 10;
  }

}

.nav {
  display: inline;

  &-list {
    transition: translate 200ms ease-in-out;
    translate: -100%;
    padding: 0 20px;
    min-height: 300px;
    @include b.desktop-up {
      border-radius: 0 40px 40px 0;
      background: #FFF;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.30);
      max-height: 495px;
      list-style: none;
      width: 100%;
      translate: 0;
    }


    &-item {
      &:hover {
        svg path {
          stroke: #000;
          transition: stroke 0.3s ease-in-out;
        }
      }
    }

    &-link {
      text-decoration: none;
      font-family: "Titillium Web Bold", sans-serif;
      color: #000;
      align-items: center;
      @extend .flex;
      gap: .5em;

      &:hover {
        transition: color 0.3s ease-in-out;
        color: #000;

      }

      &-text {

      }
    }
  }
}

.nav {
  &:hover {
    .nav-list-link-text {
      @extend .not-sr-only; // Montre le texte au hover
    }
  }

  .nav-list-link-text {
    @extend .sr-only; // Cache le texte par défaut
  }
}


